html, body {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  padding:0px;
  margin:0px;
}
.work{
  font-weight: bold;
  color: crimson;
  background-color: blanchedalmond;
  margin: 80px;
  border-bottom: 3px solid #2ec548;
}
:root {
  --dz1-border-color: #d9dbf5;
  --dz1-speaker-color: #d5d5d5;
  --dz2-article-background: white;
  --dz2-article-shadow: #d5d5d5;
  --dz2-img-background: #fce5a4;
}


.homework_list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 2px 1px var(--dz2-article-shadow);
}
.homework_head {
  width: 100%;
  color: DarkSalmon;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.homework_link {
  width: 100%;
  text-decoration: none;
  color: coral;
  font-size: 20px;
}
.homework_link:hover {
  text-decoration: underline;
}
